body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-wrapper{
  padding: 0 2rem;
}
nav{
  position: fixed;
  z-index: 5;
}
.main-content{
  min-height: 100vh;
}
.preloader{
  display: block;
  margin: 0 auto;
}
.goods {
  max-width: 100%;
  padding: 5rem 2.5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.not-found{
  margin: 0 auto;
}
.valign-wrapper{
  justify-content: center;
}
.card-desc{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bold{
  font-weight: bold;
}
.cart{
  display: flex;
  cursor: pointer;
}
.cart-quantity{
}